*{
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, b, i, strong, em {
    font-weight: normal;
    font-style: normal;
}

button {
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #333;
}

img{
    display: block;
}

ul, ol, li{
    list-style: none;
}

input, button, dl{
    outline: none;
}

@font-face {
    font-family: 'iconfont';
    src: url('../iconfont/iconfont.eot');
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../iconfont/iconfont.woff2') format('woff2'),
        url('../iconfont/iconfont.woff') format('woff'),
        url('../iconfont/iconfont.ttf') format('truetype'),
        url('../iconfont/iconfont.svg#iconfont') format('svg');
  }

.center{
    width: 1210px;
    margin: 0 auto;
}